[build-system]
requires = ['flit']
build-backend = 'flit.buildapi'

[tool.flit.metadata]
dist-name = 'legacy-api-wrap'
module = 'legacy_api_wrap'
description-file = 'README.rst'
author = 'Philipp A.'
author-email = 'flying-sheep@web.de'
home-page = 'https://github.com/flying-sheep/legacy-api-wrap'
requires-python = '>=3.5'
requires = [
    'get-version >=2.0.4',
    'setuptools',
    'future-fstrings',
]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Programming Language :: Python :: 3',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
]

[tool.flit.metadata.requires-extra]
test = [
    'pytest',
    'pytest-cov',
    'pytest-black; python_version != "3.5"',
]

[tool.black]
line-length = 100
