[project]
dynamic = ['version', 'description']
name = 'legacy-api-wrap'
authors = [
    { name = 'Philipp A.', email = 'flying-sheep@web.de' },
]
urls.Source = 'https://github.com/flying-sheep/legacy-api-wrap'
readme = 'README.rst'
license = 'GPL-3.0-or-later'
requires-python = '>=3.8'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Programming Language :: Python :: 3',
    'Topic :: Software Development :: Libraries :: Python Modules',
]
dependencies = []

[project.optional-dependencies]
test = ['pytest']

[tool.black]
line-length = 100

[tool.ruff]
line-length = 100

[tool.pytest.ini_options]
addopts = [
    '--import-mode=importlib',
    '--strict-markers',
    '--doctest-modules',
    '--doctest-glob=*.rst',
]

[build-system]
requires = ['hatchling', 'hatch-vcs', 'hatch-docstring-description']
build-backend = 'hatchling.build'
