# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  PYTEST_ADDOPTS: "-v --color=yes"
  FORCE_COLOR: "1"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v7
      - run: uv pip install --system -e .[test]
      - run: |
          coverage run -m pytest
          coverage xml
          coverage-rich report
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: test-data/coverage.xml
          token: 872498ea-6ef6-4f1d-8006-bc6e557580f6
  check:
    if: always()
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
