# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  PYTEST_ADDOPTS: "-v --color=yes"
  FORCE_COLOR: "1"

jobs:
  get-environments:
    runs-on: ubuntu-latest
    outputs:
      envs: ${{ steps.get-envs.outputs.envs }}
    steps:
      - uses: actions/checkout@v5
        with: { filter: blob:none, fetch-depth: 0 }
      - uses: astral-sh/setup-uv@v7
      - id: get-envs
        run: |
          ENVS_JSON=$(NO_COLOR=1 uvx hatch env show --json | jq -c 'to_entries
            | map(select(.key | startswith("hatch-test")) | { name: .key, python: .value.python })')
          echo "envs=${ENVS_JSON}" | tee $GITHUB_OUTPUT

  test:
    needs: [get-environments]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ${{ fromJSON(needs.get-environments.outputs.envs) }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.env.python }}
      - uses: astral-sh/setup-uv@v7
      - run: uv pip install --system -e .[test]
      - run: |
          coverage run -m pytest
          coverage xml
          coverage-rich report
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: test-data/coverage.xml
          flags: ${{ matrix.env.name }}
          token: 872498ea-6ef6-4f1d-8006-bc6e557580f6

  check:
    if: always()
    needs:
      - get-environments
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
